/*
 * BB-IO-CAPE Device Tree Overlay
 *
 * BeagleBone Black I/O Cape with Grove-compatible connectors
 *
 * Features:
 *   - DS3231MZ Real-Time Clock on I2C2 (0x68)
 *   - CAT24C256 EEPROM on I2C2 (0x54-0x57, configurable via DIP switch)
 *   - 3x UART (UART1, UART2, UART4)
 *   - 2x I2C (I2C1, I2C2 exposed via Grove connectors)
 *   - 6x Analog inputs (AIN0-6)
 *   - 18x GPIO pins (9 digital connectors, 2 pins each)
 *   - RTC 32KHz clock output and alarm interrupt
 *
 * Copyright (c) 2026, Andrew C. Young
 * SPDX-License-Identifier: MIT
 *
 * Pin configuration bits (AM335X):
 *   Bit 6: Slew rate (0=fast, 1=slow)
 *   Bit 5: Input enable (0=output, 1=input)
 *   Bit 4: Pull select (0=pulldown, 1=pullup)
 *   Bit 3: Pull enable (0=enabled, 1=disabled)
 *   Bits 2-0: Mux mode (0-7)
 *
 * Common configurations:
 *   0x00 = Output, pulldown, mode 0
 *   0x20 = Input, pulldown, mode 0
 *   0x30 = Input, pullup, mode 0
 *   0x07 = Output, pulldown, mode 7 (GPIO)
 *   0x37 = Input, pullup, mode 7 (GPIO)
 *   0x27 = Input, pulldown, mode 7 (GPIO)
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black", "ti,beaglebone-green";

	/* Identification */
	part-number = "BB-IO-CAPE";
	version = "00A0";

	/*
	 * Pin usage exclusions - prevent conflicts with other capes/overlays
	 */
	exclusive-use =
		/* UART1 */
		"P9.24",	/* uart1_txd */
		"P9.26",	/* uart1_rxd */
		/* UART2 */
		"P9.21",	/* uart2_txd */
		"P9.22",	/* uart2_rxd */
		/* UART4 */
		"P9.11",	/* uart4_rxd */
		"P9.13",	/* uart4_txd */
		/* I2C1 */
		"P9.17",	/* i2c1_scl */
		"P9.18",	/* i2c1_sda */
		/* I2C2 (also used for cape EEPROM) */
		"P9.19",	/* i2c2_scl */
		"P9.20",	/* i2c2_sda */
		/* Analog inputs */
		"P9.33",	/* ain4 */
		"P9.35",	/* ain6 */
		"P9.36",	/* ain5 */
		"P9.37",	/* ain2 */
		"P9.38",	/* ain3 */
		"P9.39",	/* ain0 */
		/* Digital GPIO - D1 */
		"P9.41",	/* gpio3_20 (GPIO 116) */
		"P9.42",	/* gpio0_7 (GPIO 7) */
		/* Digital GPIO - D2 */
		"P8.13",	/* gpio0_23 (GPIO 23) */
		"P8.19",	/* gpio0_22 (GPIO 22) */
		/* Digital GPIO - D3 */
		"P8.14",	/* gpio0_26 (GPIO 26) */
		"P8.17",	/* gpio0_27 (GPIO 27) */
		/* Digital GPIO - D4 */
		"P8.11",	/* gpio1_13 (GPIO 45) */
		"P8.12",	/* gpio1_12 (GPIO 44) */
		/* Digital GPIO - D5 */
		"P8.15",	/* gpio1_15 (GPIO 47) */
		"P8.16",	/* gpio1_14 (GPIO 46) */
		/* Digital GPIO - D6 */
		"P9.15",	/* gpio1_16 (GPIO 48) */
		"P9.16",	/* gpio1_19 (GPIO 51) */
		/* Digital GPIO - D7 */
		"P8.7",		/* gpio2_2 (GPIO 66) */
		"P8.8",		/* gpio2_3 (GPIO 67) */
		/* Digital GPIO - D8 */
		"P8.9",		/* gpio2_5 (GPIO 69) */
		"P8.10",	/* gpio2_4 (GPIO 68) */
		/* Digital GPIO - D9 */
		"P9.25",	/* gpio3_21 (GPIO 117) */
		"P9.27",	/* gpio3_19 (GPIO 115) */
		/* RTC signals */
		"P9.12",	/* gpio1_28 (GPIO 60) - RTC 32KHz clock output */
		"P8.28",	/* gpio2_24 (GPIO 88) - RTC alarm interrupt (active low) */
		/* Peripheral names */
		"uart1",
		"uart2",
		"uart4",
		"i2c1",
		"i2c2",
		"tscadc";

	/*
	 * Fragment 0: Pin mux configuration for UART1
	 * P9.24 = uart1_txd (mode 0) - offset 0x184
	 * P9.26 = uart1_rxd (mode 0) - offset 0x180
	 */
	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_uart1_pins: pinmux_bb_io_cape_uart1_pins {
				pinctrl-single,pins = <
					0x184 0x00	/* P9.24 uart1_txd - output, pulldown, mode 0 */
					0x180 0x30	/* P9.26 uart1_rxd - input, pullup, mode 0 */
				>;
			};
		};
	};

	/*
	 * Fragment 1: Enable UART1
	 */
	fragment@1 {
		target = <&uart1>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_io_cape_uart1_pins>;
		};
	};

	/*
	 * Fragment 2: Pin mux configuration for UART2
	 * P9.21 = uart2_txd (mode 1) - offset 0x154 (spi0_d0)
	 * P9.22 = uart2_rxd (mode 1) - offset 0x150 (spi0_sclk)
	 */
	fragment@2 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_uart2_pins: pinmux_bb_io_cape_uart2_pins {
				pinctrl-single,pins = <
					0x154 0x01	/* P9.21 uart2_txd - output, pulldown, mode 1 */
					0x150 0x31	/* P9.22 uart2_rxd - input, pullup, mode 1 */
				>;
			};
		};
	};

	/*
	 * Fragment 3: Enable UART2
	 */
	fragment@3 {
		target = <&uart2>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_io_cape_uart2_pins>;
		};
	};

	/*
	 * Fragment 4: Pin mux configuration for UART4
	 * P9.11 = uart4_rxd (mode 6) - offset 0x070 (gpmc_wait0)
	 * P9.13 = uart4_txd (mode 6) - offset 0x074 (gpmc_wpn)
	 */
	fragment@4 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_uart4_pins: pinmux_bb_io_cape_uart4_pins {
				pinctrl-single,pins = <
					0x070 0x36	/* P9.11 uart4_rxd - input, pullup, mode 6 */
					0x074 0x06	/* P9.13 uart4_txd - output, pulldown, mode 6 */
				>;
			};
		};
	};

	/*
	 * Fragment 5: Enable UART4
	 */
	fragment@5 {
		target = <&uart4>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_io_cape_uart4_pins>;
		};
	};

	/*
	 * Fragment 6: Pin mux configuration for I2C1
	 * P9.17 = i2c1_scl (mode 2) - offset 0x15c (spi0_cs0)
	 * P9.18 = i2c1_sda (mode 2) - offset 0x158 (spi0_d1)
	 */
	fragment@6 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_i2c1_pins: pinmux_bb_io_cape_i2c1_pins {
				pinctrl-single,pins = <
					0x15c 0x32	/* P9.17 i2c1_scl - input, pullup, mode 2 */
					0x158 0x32	/* P9.18 i2c1_sda - input, pullup, mode 2 */
				>;
			};
		};
	};

	/*
	 * Fragment 7: Enable I2C1
	 */
	fragment@7 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_io_cape_i2c1_pins>;
			clock-frequency = <400000>;

			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	/*
	 * Fragment 8: Pin mux configuration for I2C2
	 * P9.19 = i2c2_scl (mode 3) - offset 0x17c (uart1_rtsn -> i2c2_scl)
	 * P9.20 = i2c2_sda (mode 3) - offset 0x178 (uart1_ctsn -> i2c2_sda)
	 * Note: I2C2 is typically enabled by default for cape EEPROM
	 */
	fragment@8 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_i2c2_pins: pinmux_bb_io_cape_i2c2_pins {
				pinctrl-single,pins = <
					0x17c 0x33	/* P9.19 i2c2_scl - input, pullup, mode 3 */
					0x178 0x33	/* P9.20 i2c2_sda - input, pullup, mode 3 */
				>;
			};
		};
	};

	/*
	 * Fragment 9: Pin mux for RTC signals
	 * P9.12 (GPIO 60) = 32KHz clock output from DS3231MZ - offset 0x078 (gpmc_ben1)
	 * P8.28 (GPIO 88) = Alarm interrupt (active low) - offset 0x0e8 (lcd_pclk)
	 */
	fragment@9 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_rtc_pins: pinmux_bb_io_cape_rtc_pins {
				pinctrl-single,pins = <
					0x078 0x2f	/* P9.12 GPIO 60 - input, no pull, mode 7 (32KHz clock) */
					0x0e8 0x37	/* P8.28 GPIO 88 - input, pullup, mode 7 (alarm, active low) */
				>;
			};
		};
	};

	/*
	 * Fragment 10: Configure I2C2 and add RTC device
	 * DS3231MZ RTC at address 0x68 with interrupt on GPIO 88
	 */
	fragment@10 {
		target = <&i2c2>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_io_cape_i2c2_pins>;
			clock-frequency = <400000>;

			#address-cells = <1>;
			#size-cells = <0>;

			/* DS3231MZ Real-Time Clock */
			rtc@68 {
				compatible = "maxim,ds3231";
				reg = <0x68>;
				#clock-cells = <1>;
				/* Alarm interrupt on GPIO 88 (gpio2_24), active low */
				interrupt-parent = <&gpio2>;
				interrupts = <24 IRQ_TYPE_LEVEL_LOW>;
			};
		};
	};

	/*
	 * Fragment 11: Pin mux configuration for GPIO pins (D1-D9 connectors)
	 * All configured as GPIO mode 7, output with pull-down
	 */
	fragment@11 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_io_cape_gpio_pins: pinmux_bb_io_cape_gpio_pins {
				pinctrl-single,pins = <
					/* D1: P9.42 (GPIO 7), P9.41 (GPIO 116) */
					0x164 0x07	/* P9.42 ecap0_in_pwm0_out - GPIO 7, output */
					0x1b4 0x07	/* P9.41 xdma_event_intr1 - GPIO 116, output */

					/* D2: P8.19 (GPIO 22), P8.13 (GPIO 23) */
					0x020 0x07	/* P8.19 gpmc_ad8 - GPIO 22, output */
					0x024 0x07	/* P8.13 gpmc_ad9 - GPIO 23, output */

					/* D3: P8.14 (GPIO 26), P8.17 (GPIO 27) */
					0x028 0x07	/* P8.14 gpmc_ad10 - GPIO 26, output */
					0x02c 0x07	/* P8.17 gpmc_ad11 - GPIO 27, output */

					/* D4: P8.12 (GPIO 44), P8.11 (GPIO 45) */
					0x030 0x07	/* P8.12 gpmc_ad12 - GPIO 44, output */
					0x034 0x07	/* P8.11 gpmc_ad13 - GPIO 45, output */

					/* D5: P8.16 (GPIO 46), P8.15 (GPIO 47) */
					0x038 0x07	/* P8.16 gpmc_ad14 - GPIO 46, output */
					0x03c 0x07	/* P8.15 gpmc_ad15 - GPIO 47, output */

					/* D6: P9.15 (GPIO 48), P9.16 (GPIO 51) */
					0x040 0x07	/* P9.15 gpmc_a0 - GPIO 48, output */
					0x04c 0x07	/* P9.16 gpmc_a3 - GPIO 51, output */

					/* D7: P8.7 (GPIO 66), P8.8 (GPIO 67) */
					0x090 0x07	/* P8.7 gpmc_advn_ale - GPIO 66, output */
					0x094 0x07	/* P8.8 gpmc_oen_ren - GPIO 67, output */

					/* D8: P8.10 (GPIO 68), P8.9 (GPIO 69) */
					0x098 0x07	/* P8.10 gpmc_wen - GPIO 68, output */
					0x09c 0x07	/* P8.9 gpmc_be0n_cle - GPIO 69, output */

					/* D9: P9.25 (GPIO 117), P9.27 (GPIO 115) */
					0x1ac 0x07	/* P9.25 mcasp0_ahclkx - GPIO 117, output */
					0x1a4 0x07	/* P9.27 mcasp0_fsr - GPIO 115, output */
				>;
			};
		};
	};

	/*
	 * Fragment 12: Enable the ADC for analog inputs
	 * A1: AIN0 (P9.39), AIN4 (P9.33)
	 * A2: AIN2 (P9.37), AIN6 (P9.35)
	 * A3: AIN3 (P9.38), AIN5 (P9.36)
	 */
	fragment@12 {
		target = <&tscadc>;
		__overlay__ {
			status = "okay";

			adc {
				ti,adc-channels = <0 2 3 4 5 6>;
				ti,chan-step-avg = <16 16 16 16 16 16>;
				ti,chan-step-opendelay = <0x98 0x98 0x98 0x98 0x98 0x98>;
				ti,chan-step-sampledelay = <0x0 0x0 0x0 0x0 0x0 0x0>;
			};
		};
	};

	/*
	 * Fragment 13: Create GPIO helper node for userspace access
	 * This exports the GPIO pins used by digital connectors and RTC signals
	 */
	fragment@13 {
		target-path = "/";
		__overlay__ {
			bb_io_cape_gpios {
				compatible = "gpio-leds";
				pinctrl-names = "default";
				pinctrl-0 = <&bb_io_cape_gpio_pins &bb_io_cape_rtc_pins>;

				/*
				 * Note: These are defined as "leds" for simplicity,
				 * but they function as general-purpose GPIO pins.
				 * Access via /sys/class/gpio/ or /sys/class/leds/
				 */

				/* D1 connector */
				d1_pin1 {
					label = "bb-io-cape:d1:pin1";
					gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d1_pin2 {
					label = "bb-io-cape:d1:pin2";
					gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D2 connector */
				d2_pin1 {
					label = "bb-io-cape:d2:pin1";
					gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d2_pin2 {
					label = "bb-io-cape:d2:pin2";
					gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D3 connector */
				d3_pin1 {
					label = "bb-io-cape:d3:pin1";
					gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d3_pin2 {
					label = "bb-io-cape:d3:pin2";
					gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D4 connector */
				d4_pin1 {
					label = "bb-io-cape:d4:pin1";
					gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d4_pin2 {
					label = "bb-io-cape:d4:pin2";
					gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D5 connector */
				d5_pin1 {
					label = "bb-io-cape:d5:pin1";
					gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d5_pin2 {
					label = "bb-io-cape:d5:pin2";
					gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D6 connector */
				d6_pin1 {
					label = "bb-io-cape:d6:pin1";
					gpios = <&gpio1 16 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d6_pin2 {
					label = "bb-io-cape:d6:pin2";
					gpios = <&gpio1 19 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D7 connector */
				d7_pin1 {
					label = "bb-io-cape:d7:pin1";
					gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d7_pin2 {
					label = "bb-io-cape:d7:pin2";
					gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D8 connector */
				d8_pin1 {
					label = "bb-io-cape:d8:pin1";
					gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d8_pin2 {
					label = "bb-io-cape:d8:pin2";
					gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* D9 connector */
				d9_pin1 {
					label = "bb-io-cape:d9:pin1";
					gpios = <&gpio3 21 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				d9_pin2 {
					label = "bb-io-cape:d9:pin2";
					gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/*
				 * RTC signals from DS3231MZ
				 */

				/* 32KHz clock output from RTC (P9.12, GPIO 60) */
				rtc_32khz {
					label = "bb-io-cape:rtc:32khz";
					gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>;
					default-state = "off";
				};

				/* Alarm interrupt from RTC (P8.28, GPIO 88) - active low */
				rtc_alarm {
					label = "bb-io-cape:rtc:alarm";
					gpios = <&gpio2 24 GPIO_ACTIVE_LOW>;
					default-state = "off";
				};
			};
		};
	};
};
